/*  GLOBAL     */

.navbar-nav{

	background:rgb(255, 165, 9);
    
}

body{
	background:#F5F5F5;
}

ul li {
	color:#fff ;
}

body,h1,input,button{
	font-family:'Nunito','sans-serif';
}

.boxlogin
{
  background: #fff;
  
  border-radius: 5px;
  flex-shrink: 0;

}
.containerlogo{
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.cercle
{
  display: flex;
  justify-content: center;
  align-content: center;
  height: 867x;
  width: 867px;

}
.cercle img{
width: 100px;
}

form{
	background:#fff;
	margin-top:32px;
	border-radius:5px;
}
input{
	display: block;
	 box-sizing: border-box;
	 margin: 20px auto ;
	 font-size: 14px;
	 padding: 10px;
	 width: 90%;
	 border:0;
	 background:#efefef;
	 border-radius: 5px;
	 outline-color: #fff;
}

button{
 display: block;
 box-sizing: border-box;
 margin: 20px auto ;
 font-size: 20px;
 padding: 10px;
 width: 90%;
 border:0;
 border-radius: 5px;
 background: #f58611;
 cursor: pointer;
 color: #fff;

}
button:hover{
  background:rgba(255, 167, 0.9);
  color:#fff;
}
p.txt{
  text-align:justify;
   
}
a{
  text-decoration: none;
  color:#f58611;
}
a:hover{
  text-decoration: none;
  color:rgba(255, 167, 0.9);
  text-decoration: underline;
 }

