*,::before ::after{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    height:80vh;
    background: #dddcdc;
    
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:15px 0 ;
    
}
h3{
    font-weight: bolder;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color:#f58611;
}
.containerbox{
    width: 600px;
    height: 580px;
    background: #FFF;
    border-radius: 5px;
    flex-shrink: 0;
    box-shadow: 2px 5px 16px black;
     
}
.formgroup{
    margin: 10px 40px ;
}
input{
   width: 100%;
   padding:15px 0;  
   border:0;
   outline: none;  
   background: rgb(209, 207, 207);
   font-size: 14px;
}
.formgroup button{
    width: 100%;
    display: block;
    padding:15px 30px;  
    border:1px solid rgb(255, 165, 9);
    outline: none;  
    background-image: linear-gradient(to right, transparent 50% , rgb(255,165,9) 50% ,rgb(223, 165, 66) );
    background-size:200%;
    color:rgb(255, 165, 9);
    font-size: 14px;
    border-radius: 5px;
  
   
   
   
}
.formgroup button:hover{
    color:#fff;
    background-position: 100%;
    border: 1px solid #fff;
    cursor: pointer;
}
.formgroup:nth-child(5){
  
    margin-bottom: 45px;
  
}
p a{
    text-decoration: none;
    color:rgb(108, 93, 194);
    text-transform: uppercase;
    font-size: 14px;
}
p{
    text-align: center;
}
p a:hover{
    text-decoration: none;
    color:rgb(255,165,9);
}
/*   responnsive */
@media screen  and (max-width:1200px){
    .containerbox{
        width:60vw !important ;
        height: 90vh;
    }
}
@media screen and (max-width:700px){
    .containerbox{
        width: 60vw !important;
        height: 70vh;
    }
    p , h3{
        text-align: center;

    }
    h3{
        
        font-size: 14px;
    }
}
@media screen and (max-width:400px){
    .containerbox{
        width: 60vw !important;
        height: 80vh;
    }
    p , h3{
        text-align: center;
       text-size-adjust: auto;
      
    }
    h3{
        text-align: center;
        font-weight: none;
        font-size: small;
    }
    .formgroup button{
        text-align: center;
    }
}

